/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1a73e8;
  --ifm-color-primary-dark: #1557b0;
  --ifm-color-primary-darker: #124d9f;
  --ifm-color-primary-darkest: #0d3a75;
  --ifm-color-primary-light: #3d8ef7;
  --ifm-color-primary-lighter: #5ca0f8;
  --ifm-color-primary-lightest: #8fc0fa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5ca0f8;
  --ifm-color-primary-dark: #3d8ef7;
  --ifm-color-primary-darker: #2a82f6;
  --ifm-color-primary-darkest: #0d66e8;
  --ifm-color-primary-light: #7bb2f9;
  --ifm-color-primary-lighter: #8fc0fa;
  --ifm-color-primary-lightest: #b8d7fc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
